* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cor-bg-principal: #36393f;
  --cor-bg-secondary: #2f3136;
  --cor-bg-3: #202225;
  --current-bg: #42464d;
  --hover: #3c3f45;
  --color: #ffffe0;
  font-size: 2.4vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: var(--cor-bg-principal);
}
.current {
  background-color: var(--current-bg);
  // border-radius: 1vh;
  // height: 90%;
  width: 93%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--cor-bg-secondary);
  // min-height: 80px;
  height: 19vh;
  width: 70%;
  margin: 0px auto;
  .usuarioo {
    p {
      border-bottom: 0.4vh solid #434446;
    }
    position: relative;
    width: 13.1vw;
    height: 21.3vh;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(83, 83, 83);
    .sair {
      a {
        position: absolute;
        top: 0;
        right: 1vh;
        text-decoration: none;
        color: rgb(83, 83, 83);
        border-bottom: 0.4vh solid #434446;
      }
      display: flex;
      align-items: flex-end;
    }
    .imagem {
      background-color: var(--cor-bg-principal);
      width: 5.5vw;
      height: 5.5vw;
      border-radius: 50%;
    }
  }
  .usuario {
    border: solid 1px red;
    width: 18.5%;
    height: 100%;
    background-color: var(--cor-bg-3);
    background-color: rgb(18, 18, 18);
    height: 21.5vh;
  }
  .banner {
    height: 21.3vh;
    width: 81.5%;
    background-image: url('../images/20151006_gymequip_logo_500x127.png');
    // background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10vw;
    background-color: black;
  }
}

.section {
  background-color: var(--cor-bg-secondary);
  display: flex;
  flex-direction: row;
  // border: 1px solid purple;
  height: 66vh;
  width: 70%;
  margin: 0px auto;
  .sidebar {
    margin-top: 1.6%;
    background-color: var(--cor-bg-3);
    // border: 1px solid green;
    width: 13vw;
    display: flex;
    flex-direction: column;
    .box {
      // border: 1px solid rgb(5, 96, 90);
      border-radius: 1vh;
      // height: 90%;
      width: 93%;
      margin: 0 auto;
      height: 6vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5vh;
      a {
        text-decoration: none;
        color: var(--color);
        height: 95%;
        width: 100%;
        display: flex; /*CSS3*/
        align-items: center; /*Vertical align*/
        justify-content: center; /*horizontal align*/
      }
      &:hover {
        background-color: var(--hover);
      }
    }
  }
  .oi {
    height: 5vh;
  }
  .oi2 {
    height: 10vh;
  }
  .MainHero {
    // border: 1px solid red;
    // overflow: scroll;
    // border: 1px solid rgb(126, 176, 25);
    display: flex;
    flex-direction: column;
    width: 57vw;
    align-items: center;
    justify-content: center;
    height: 63.3vh;
    margin-top: 2vh;
    .checkBox {
      display: flex;
      flex-direction: column;
      width: 52vw;
      border-radius: 2vh;
      margin: 0 auto;
      margin-top: 8% !important;
      height: 50vh;
      background-color: var(--cor-bg-3);
      .bem-vindo1 {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        background-color: rgb(18, 18, 18);
        border-radius: 2vh 2vh 0 0;
        height: 30%;
        .imgUser {
          border-radius: 50%;
          margin-left: 7%;
          width: 5vw;
          height: 10vh;
          background-color: rgb(83, 83, 83);
        }
        h1 {
          font-size: 5vh;
          margin-left: 2%;
          color: rgb(204, 204, 204);
        }
      }
      .bem-vindo2 {
        // border: 1px solid blue;
        background-color: var(--cor-bg-principal);
        height: 40%;
      }
      .bem-vindoInput {
        margin-top: 4%;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      input {
        border-radius: 2vh;
        width: 60%;
        height: 6vh;
        font-size: 1.3rem;
        text-align: center;
      }
      .estadoCheck {
        // border: 1px solid red;
        width: 10vw;
        height: 6.5vh;
        margin-left: 5%;
        // border-radius: 15%;
        #btnInput {
          width: 100%;
          height: 100%;
          border-radius: 2vh;
        }
      }
    }
    .listaBox {
      width: 40vw;
      border: 1px solid rgb(136, 176, 25);
      margin: auto;
      height: 60%;
    }
    .form-hero {
      overflow: scroll;
      width: 50vw;
      height: 62vh;
      // border: 1px solid red;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cadastro {
      // height: 45vh;
      background-color: var(--cor-bg-3);
      padding: 1.5vh;
      border-radius: 1vw;
      #checkbox {
        height: 1.7vh;
        border: none;
        width: 1vw;
        outline: none;
      }

      position: absolute;
      top: 5%;
      label {
        // font-size: 1.2rem;
        color: var(--color);
        padding-left: 0.5vw;
        color: rgb(204, 204, 204);
      }
      .block-form {
        display: flex;
        justify-content: space-between;
      }
      .inputs {
        div {
          display: flex;
          justify-content: center;
        }
        input {
          // border: none;
          margin: 0 0.5vw;
          // width: 18vw;
          // height: 3vh;
          font-size: 2vh;
          font-family: inherit;
          width: 100%;
          border: 0;
          border-bottom: 0.4vh solid var(--cor-bg-principal);
          outline: 0;
          color: var(--color);
          // padding: 7px 0;
          background: transparent;
          transition: border-color 0.2s;

          &::placeholder {
            color: transparent;
          }
        }
        textarea {
          border: none;
          width: 98%;
          resize: none;
          font-size: 2vh;
          font-family: inherit;
          width: 100%;
          border: 0;
          border-bottom: 0.4vh solid var(--cor-bg-principal);
          outline: 0;
          color: var(--color);
          // padding: 2vh 0;
          margin-left: 1.1vh;
          background: transparent;
        }
      }
      .first {
        margin-left: 0.5vw;
      }
      .minSpace {
        margin-right: 2vh;
        border: none;
      }
      #cadastrar {
        background-color: rgb(204, 204, 204);
        padding: 0.6vh;
        border-radius: 0.5vh;
        border: none;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 96%;
        height: 60%;
      }
    }
    #font {
      font-size: 1.1rem;
    }
    .sectionsearch {
      // border: 1px solid purple;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .pessoas {
      padding: 0.35vw;
      // border: solid 1px rgb(51, 255, 0);
      width: 90%;
      height: 85%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 0.35vw;
      color: rgb(204, 204, 204);
      .img {
        background-color: var(--current-bg);
        width: 80%;
        height: 80%;
        border-radius: 0.5vh;
        // margin-bottom: 0.4vw;
        margin-top: 1.2vh;
        margin-left: 0.77vh;
      }
      overflow: scroll;
      .usuario {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border: solid 1px rgb(169, 135, 135);
        border-radius: 5px;
        // height: 18%;
        min-width: 32.5%;
        padding-bottom: 0.37vh;
      }
    }
    .listaBusca {
      margin-bottom: 1vh;
      color: var(--color);
      font-size: 1.1rem;
      // border: solid 1px blue;
      width: 52vw;
      // height: 95%;
      margin-top: 2% !important;
      .busca {
        display: flex;
      }
      label {
        min-width: 8.5vw;
      }
      input {
        width: 80%;
        height: 3.5vh;
        border-radius: 1vh;
        color: var(--color);
        background-color: var(--cor-bg-principal);
      }
    }
    .openProcess {
      #p-open {
        color: var(--color);
        padding-left: 0.5vh;
      }
      width: 90%;
      border: 1px solid rgb(137, 137, 137);
      margin: auto;
      height: 90%;
      & > :first-child {
        border-bottom: 1px solid rgb(137, 137, 137);
      }
      & > :nth-child(2) {
        padding: 0.3vh;
        // border: solid 1px rgb(255, 136, 0);
        width: 99.7%;
        height: 94.2%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: scroll;
        .linePessoa {
          border: solid 1px var(--cor-bg-principal);
          width: 100%;
          height: 4vh;

          min-height: 25px;
          display: flex;

          justify-content: space-between;
          align-items: center;
          background-color: rgb(174, 232, 174);
          color: var(--cor-bg-principal) !important;
          padding: 0 20px;
        }
      }
    }
  }
}
.footer {
  a {
    color: #434446;
    text-decoration: none;
    font-size: 1.8vh;
  }
  #footer1 {
    width: 90%;
    height: 1px;
    border-bottom: 0.3vh dotted #434446;
  }
  #footer2 {
    padding-top: 3vh;
    font-size: 1.8vh;
  }
  #footer3 {
    font-size: 1.8vh;
    padding-bottom: 1vh;
  }
  color: #434446;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  width: 70%;
  margin: 0px auto;
  background-color: rgb(18, 18, 18);
}
.modalBackground {
  background-color: rgb(174, 232, 174);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aguardando {
  position: relative;
  display: flex;
  // border: 1px solid red;
  width: 22vw;
  padding-left: 0.5vw;
}

@import './animationsClone/variables';
@import './animationsClone/mixins';
@import './animationsClone/functions';

$amount: 10px;

@keyframes ball-pulse-sync {
  33% {
    transform: translateY($amount);
  }
  66% {
    transform: translateY(-$amount);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin ball-pulse-sync($n: 3, $start: 1) {
  @for $i from $start through $n {
    > div:nth-child(#{$i}) {
      animation: ball-pulse-sync 1s delay(0.07s, $n, $i) infinite ease-in-out;
    }
  }
}

.ball-pulse-sync {
  @include ball-pulse-sync();

  > div {
    @include balls();
    @include global-animation();

    display: inline-block;
  }
}
.loader {
  position: absolute;
  left: 14vw;
  top: 1vw;
  color: #8e8e35 !important;
  // rotate: 2vw;
  padding-left: 1.5vw;
  color: #42464d;
}
