* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px red;
  min-height: 80px;
  height: 19vh;
  width: 70%;
  margin: 0px auto;
  .usuario {
    border: solid 1px red;
    width: 13vw;
    height: 100%;
  }
}
.section {
  display: flex;
  border: 1px solid purple;
  height: 66vh;
  width: 70%;
  margin: 0px auto;
  .sidebar {
    border: 1px solid green;
    width: 13vw;
    display: flex;
    flex-direction: column;
    .box {
      border: 1px solid rgb(5, 96, 90);
      height: 8%;
    }
  }
  .MainHero {
    overflow: scroll;
    border: 1px solid rgb(126, 176, 25);
    display: flex;
    flex-direction: column;
    width: 57vw;
    align-items: center;
    justify-content: center;

    .checkBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 40vw;
      border: 1px solid rgb(176, 25, 116);
      margin: 0 auto;
      margin-top: 8% !important;
      height: 30%;
      input {
        width: 60%;
        height: 6vh;
        font-size: 1.3rem;
        text-align: center;
      }
      .estadoCheck {
        border: solid 1px red;
        width: 17%;
        height: 6vh;
      }
    }
    .listaBox {
      width: 40vw;
      border: 1px solid rgb(136, 176, 25);
      margin: auto;
      height: 60%;
    }
    .cadastro {
      border: 1px solid blue;
      padding: 5px;
      margin: auto;
      margin-left: -40%;
      & > *:nth-child(5) {
        grid-column: 1 / span 2;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 180%;
      height: 100%;
      .inputs {
        font-size: 1.1rem;
        input {
          width: 95%;
          height: 3vh;
        }
        textarea {
          width: 98%;
          resize: none;
        }
      }

      .minSpace {
        margin: 3px;
      }
      #cadastrar {
        margin-top: 4%;
        width: 96%;
        height: 60%;
      }
    }
    #font {
      font-size: 1.1rem;
    }
    .sectionsearch {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .pessoas {
      border: solid 1px rgb(51, 255, 0);
      width: 90%;
      height: 85%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 5px;
      overflow: scroll;
      .usuario {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border: solid 1px rgb(169, 135, 135);
        border-radius: 5px;
        height: 18%;
        min-width: 32.5%;
      }
    }
    .listaBusca {
      font-size: 1.1rem;
      border: solid 1px blue;
      width: 90%;
      // height: 95%;
      margin-top: 2% !important;
      .busca {
        display: flex;
      }
      label {
        min-width: 130px;
      }
      input {
        width: 100%;
        height: 3vh;
      }
    }
  }
}
.footer {
  display: flex;
  border: 1px solid rgb(185, 99, 185);
  height: 15vh;
  width: 70%;
  margin: 0px auto;
}
.modalBackground {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
